<!-- for width: 100% across all viewports and devices, or a responsive container (e.g., .container-md) 
for a combination of fluid and pixel widths. -->
<!-- Use .container for a responsive pixel width, -->


<div class="containerd-fluid  " class="header">
    <div class="row ">

        <div class=" d-flex   col-xl-3  col-lg-6 col-md-8 col-sm-6  col-6">
            <div class=" align-self-center  flex-grow-1">
                <img src="assets/images/Butybrent-logo.png" class="imbuy ">
            </div>

            <div class="d-flex align-self-center">
                <i class="fa fa-map-marker " aria-hidden="true" id="LocationIcon"></i>
            </div>

            <div class="d-flex flex-column " id="text">
                <div>Location</div>

                <div class="d-flex align-items-start" id="bottomText">
                    1 Wembley Park Blvd,London,Wemble....
                </div>
            </div>


        </div>

        <div class=" d-flex d-xl-block d-md-none d-sm-none d-none d-lg-none col-xl-5    ">
            <div class="input-group ">
                <input type="text" placeholder="Search local businesses" class="form-control" placeholder="Recipient's username" id="search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true" id="searchIcon"  ></i></button>
                </div>
            </div>
        </div>


        <div class="  d-flex justify-content-between  col-xl-4  col-lg-6 col-md-4 col-sm-6   col-6 ">

            <div class="col d-md-none d-sm-none  d-none d-lg-block  ">
                <button class="  btn btn-success   btn-lg  " id="btn-sign">Sign in</button>
            </div>
            <div class="col d-md-none d-sm-none  d-none d-lg-block  ">
                <button class="  btn btn-success  btn-lg  " id="make">
                        <div class="row">
                            <div class="col">
                                <div class="rounded-circle border bg-light d-flex justify-content-center align-items-center"
                          id="cir ">
                   <i class="fa fa-shopping-cart  text-dark"></i>
                   </div>
                            </div>

                            <div class="col">
                                MyCart
                            </div>
                        </div>
                        
                       </button>
            </div>

            <div class="d-sm-block d-md-block d-lg-none">
                <div class="d-flex justify-content-between signinIcon  float-right  ">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="d-lg-block d-md-block d-sm-block  d-xl-none    col-lg-6 col-md-6 col-sm-6    col-12">
            <div class="input-group ">
                <input type="text" placeholder="Search local businesses" class="form-control" placeholder="Recipient's username" id="search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true" id="searchIcon"  ></i></button>
                </div>
            </div>
        </div>

    </div>

</div>