 a:link {
     color: white;
     /* text-decoration: none; */
 }
 
 a:visited {
     color: green;
     background-color: rgb(9, 255, 0);
 }
 /* mouse over link */
 
 a:hover {
     color: rgb(0, 0, 0);
     background-color: rgb(238, 238, 12);
 }
 /* selected link */
 
 a:active {
     color: rgb(250, 250, 252);
     /* background-color: yellow; */
 }